<title>Bookmark Manager</title>
<h1>Bookmark Manager</h1>

<form action="/api/bookmarks/new" method="post">
  <label for="url">Url: </label>
  <input type="text" name="url" placeholder="URL including http://"></br>
  <label for="title">Title: </label>
  <input type="text" name="title" placeholder="Title to display">
  <input type="submit" value="Add Bookmark">
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
        <a href= "<%=bookmark.url%>" target="_blank">
          <%= bookmark.title %>
        </a>
      <form action="/api/bookmarks/delete/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value='X'>
      </form>
    </li>
  <% end %>
</ul>


