
html, body {
  width: 99%;
  height: 99%;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 10fr auto;
  grid-template-rows: 1fr auto 1fr;
  /* grid-auto-rows: minmax(20px, auto); */
  
  grid-template-areas: 
    "hd hd   hd   hd   hd   hd   hd   hd   hd"
    "sd main main main main main main main main"
    "ft ft   ft   ft   ft   ft   ft   ft   ft";
  /* column-gap: 20px; 
  row-gap: 20px;  */
}

.header {
  max-height: 70px;
  grid-area: hd;
  background-color: #303F9F;
  /* padding: 1em; */
}

h1 {
  color: #FFFFFF;
  padding: 5px;
}

.content > h2 {
  color: #212121;
}

.button {
  background-color: #8BC34A;
  color: #FFFFFF
}

.content {
  border: 10px;
  padding: 10px;
  grid-area: main;
  grid-column-gap: 10px; 
  grid-row-gap: 10px;
}

.sidebar {
  grid-area: sd;
  padding: 10px;
  background: #3F51B5;
}

.form_container {
  width: 200px;
  clear: both;
}

.form_container input {
  margin-bottom: 10px;
  width: 100%;
  clear: both;
}

.sidebar {
  color: #FFFFFF;
}

.card {
  margin: 5px;
  background-color: whitesmoke;
  padding: 10px; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.footer {
  max-height: 20px;
  padding: 10px;
  grid-area: ft;
  background-color: #303F9F;
}

.footer>a {
  color: #FFFFFF;
}
