<form action="/add" method="post">
  URL: <input type="text" name="url" id=""></br>
  Title: <input type="text" name="title" id="">
  <input type="submit" value="Add Bookmark">
</form>

<%# To fix %>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href= <%=bookmark.url%> > <%=bookmark.title%> </a></li>
  <% end %>
</ul>


